/* --- Cambio de Modo Oscuro del body --- */
body.dark {
    --body-color: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    --sidebar-color: #7F167F;
    /* --sidebar-color: #A31ACB; */
    --primary-color: var(--lightblack);
    --primary-color-light: var(--lightblack);
    --toggle-color: var(--white);
    --text-color: var(--darkwhite);
}

/* --- Cuando se cambia el mode, cambia los colores --- */

body.dark .sidebar p {
    color: var(--darkwhite);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
    color: var(--white);
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

body.dark .switch::before {
    left: 20px;
}

/* --- Modelo de form registro y login --- */
body.dark .form_container{
    background: var(--dark);
}

body.dark .form_container h2{
    color: var(--white);
}

body.dark .form_container i{
    color: var(--white);
}

body.dark .form_container input{
    background-color: var(--dark);
    color: var(--white);   
}

body.dark .form_container label{
    color: var(--white);
}

body.dark .form_container a{
    color: var(--pink);
}

body.dark .form_container .login_signup{
    color: var(--white);
}

/* --- Modelo de Carta Darkmode --- */
body.dark .wrapper {
    background: var(--dark);
    box-shadow: 0px 6px 15px var(--dark);
}

body.dark .wrapper i {
    color: var(--white);
}

body.dark .wrapper span {
    color: var(--white);
}

body.dark .song-details p {
    color: var(--white);
}

body.dark .img-area {
    box-shadow: 0px 6px 12px var(--violet);
}

body.dark .progress-area {
    background: var(--lightblack);
}

body.dark .progress-area .progress-bar {
    background: linear-gradient(90deg, var(--violet) 0%, var(--pink) 100%);
}

body.dark .volume-slider {
    background: var(--dark);
}

body.dark .controls i {
    font-size: 36px;
    user-select: none;
    background: var(--dark-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.dark .controls .play-pause {
    background: var(--dark-color);
}

body.dark .music-list {
    background: var(--dark);
}

body.dark .header #close {

    color: var(--white);
}