    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    /* --- Fuente CSS sin Italica --- */
    /*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    *::before,
    *::after {
        padding: 0;
        margin: 0;
    }

    /* --- Valores constantes de color, gradientes y transiciones ---  */
    :root {
        /* --- Colors --- */
        --pink: #ff74a4;
        --violet: #5f0a87;
        --lightblack: #28313B;
        --white: #fff;
        --darkwhite: #cecaca;
        --pinkshadow: #ffcbdd;
        --lightbshadow: rgba(0, 0, 0, 0.20);
        --dark: #28313B;
        /* --- Body Colors --- */
        --body-color: linear-gradient(var(--pink) 0%, var(--violet) 100%);
        --dark-color: linear-gradient(var(--violet) 5%, #9b23ea 40%);
        --sidebar-color: #FF597B;
        --primary-color: var(--violet);
        /* --- Hasta acá va la revisión de color CAMBIAR --- */
        --primary-color-light: #F6F5FF;
        --toggle-color: #DDD;
        --text-color: var(--lightblack);
        /* --- Transiciones --- */
        --tran-03: all 0.2s ease;
        --tran-03: all 0.3s ease;
        --tran-04: all 0.4s ease;
        --tran-05: all 0.5s ease;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: var(--body-color);
        transition: var(--tran-05);
        /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
        /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
        /* background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%); */
        /* background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%); */
    }

    /*---- MAIN ELEMENT ----*/
    .main {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        /* text-align: -webkit-center; */
        justify-content: center;
    }

    /* --- CSS Darkmode --- */
    ::selection {
        background-color: var(--pink);
        color: var(--white);
    }

    /* --- Sidebar Vertical --- */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--tran-05);
        z-index: 100;
    }

    .sidebar.close {
        width: 88px;
    }

    /* --- Código reusable barra lateral --- */
    .sidebar li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .sidebar header .image,
    .sidebar .icon {
        min-width: 60px;
        border-radius: 6px;
    }

    .sidebar p {
        color: var(--lightblack);
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .sidebar .icon {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .sidebar .text,
    .sidebar .icon {
        color: var(--text-color);
        transition: var(--tran-03);
    }

    .sidebar .text {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }

    .sidebar.close .text {
        opacity: 0;
    }

    /* --- Modelo de sidebar --- */
    .sidebar header {
        position: relative;
        margin-bottom: 50px;
    }

    .sidebar header .image-text {
        display: flex;
        align-items: center;
    }

    .sidebar header .logo-text {
        display: flex;
        flex-direction: column;
    }

    header .image-text .name-player {
        margin-top: 2px;
        font-size: 19px;
        font-weight: 600;
    }

    header .image-text .subname {
        font-size: 16px;
        margin-top: -2px;
        display: block;
    }

    .sidebar header .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar header .image img {
        width: 90px;
        border-radius: 6px;
    }

    /* Botón de abrir y cerrar barra lateral */
    .sidebar header .toggle {
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 26px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        font-size: 26px;
        cursor: pointer;
        transition: var(--tran-05);
    }

    .sidebar.close .toggle {
        transform: translateY(-50%) rotate(0deg);
    }

    .sidebar .menu {
        margin-top: 30px;
        margin-bottom: -10px;
    }

    .sidebar li.search-box {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;
        transition: var(--tran-05);
    }

    .sidebar li.search-box input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
    }

    .sidebar li a {
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;
        transition: var(--tran-03);
    }

    .sidebar li a:hover {
        background-color: var(--primary-color);
    }

    .sidebar li a:hover .icon,
    .sidebar li a:hover .text {
        color: var(--sidebar-color);
    }

    .sidebar .menu-bar {
        margin: -60px 0 0 0;
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: initial;
    }

    .menu-bar::-webkit-scrollbar {
        display: none;
    }

    .sidebar .menu-bar .mode {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
    }

    .menu-bar .mode .sun-moon {
        height: 50px;
        width: 60px;
    }

    .mode .sun-moon i {
        position: absolute;
        margin: 12px 0 0 15px;
    }

    .mode .sun-moon i.sun {
        opacity: 0;
    }

    .menu-bar .bottom-content {
        margin-bottom: 40px;
    }

    .menu-bar .bottom-content .toggle-switch {
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
    }

    .toggle-switch .switch {
        position: relative;
        height: 24px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }

    .switch::before {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--sidebar-color);
        transition: var(--tran-04);
    }

    /* --- Modelo de cartas --- */

    #favorites {
        display: none;
    }

    #music_list {
        display: none;
    }

    #profile {
        display: none;
    }

    #add_music {
        display: none;
    }

    /* --- Modelo de cartas --- */

    .wrapper {
        width: 480px;
        height: max-content;
        padding: 30px 40px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        background: var(--white);
        box-shadow: 0px 6px 15px var(--lightbshadow);
        margin: 0 2px 0 0;
    }

    .wrapper i {
        cursor: pointer;
    }

    .top-bar,
    .progress-area .song-timer,
    .controls,
    .music-list .header,
    .music-list ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top-bar i {
        font-size: 36px;
        color: var(--lightblack);
    }

    .top-bar i:first-child {
        margin-left: -7px;
    }

    .top-bar i:last-child {
        margin-left: -23px;
    }

    .top-bar span {
        font-size: 20px;
        margin-left: -30px;
        color: var(--lightblack);
    }

    /* --- Imagen de la Canción en reproducción --- */

    .img-area {
        width: 100%;
        height: 330px;
        overflow: hidden;
        margin-top: 30px;
        border-radius: 15px;
        box-shadow: 0px 6px 12px var(--lightbshadow);
    }

    .img-area img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* --- Detalles de la canción: Nombre, Artista --- */
    .song-details {
        text-align: center;
        margin: 30px 0;
    }

    .song-details p {
        color: var(--lightblack);
    }

    .song-details .name {
        font-size: 22px;
    }

    .song-details .artist {
        font-size: 19px;
        opacity: 0.9;
        line-height: 35px;
    }

    /* --- Barra de progreso de reproducción de la canción --- */
    .progress-area {
        height: 8px;
        width: 100%;
        border-radius: 50px;
        background: #f0f0f0;
        cursor: pointer;
    }

    .progress-area .progress-bar {
        height: inherit;
        width: 0%;
        position: relative;
        border-radius: inherit;
        background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
    }

    .progress-bar::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        right: -5px;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
        background: inherit;
        transition: opacity 0.2s ease;
    }

    .progress-area:hover .progress-bar::before {
        opacity: 1;
        pointer-events: auto;
    }

    .progress-area .song-timer {
        margin-top: 5px;
    }

    .song-timer span {
        font-size: 14px;
        color: var(--lightblack);
    }

    /* --- Controles del reproductor --- */
    .controls {
        margin: 40px 0 6px 0;
    }

    .controls-song {
        margin: -10px 0 5px 0;
    }

    /* --- Control del volumen --- (intentar cambiarla de input a barra de progreso) */
    #volume-up {
        margin: 0;
    }

    #volume-control {
        display: flex;
        align-items: center;
    }

    #volume-control:hover .volume-slider {
        display: inline;
    }

    #volume-control:hover #volume-up {
        padding-right: 8px;
    }

    .volume-slider {
        margin-top: 4px;
        /* Para girar hacia arriba */
        /* transform: rotateZ(270deg); 
            -webkit-appearance: none;*/
        appearance: none;
        -moz-range-track: var(--violet);
        -moz-range-progress: var(--violet);
        border-radius: 20px;
        outline: none;
        opacity: 0.8;
        -webkit-transition: .5s;
        transition: opacity .5s;
        display: none;
        /* margin: 8px -80px 0 -200px; */
        background: #cecaca;
        /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
        cursor: pointer;
    }

    .volume-slider:hover {
        opacity: 1;
    }

    .volume-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        /* background: #04AA6D; */
        background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    }

    .volume-slider::-moz-range-progress {
        height: 10px;
    }

    /* --- Iconos de los controles --- */
    .controls i {
        font-size: 36px;
        user-select: none;
        background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .controls i:nth-child(2),
    .controls i:nth-child(6) {
        font-size: 40px;
    }

    .controls #more-music {
        font-size: 38px;
    }

    .controls #prev {
        margin-right: -13px;
    }

    .controls #next {
        margin-left: -13px;
    }

    .controls .play-pause {
        height: 56px;
        width: 56px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
        box-shadow: 0px 0px 5px var(--pink);
    }

    .play-pause::before {
        position: absolute;
        content: "";
        height: 46px;
        width: 46px;
        border-radius: inherit;
        background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    }

    .play-pause i {
        height: 43px;
        width: 43px;
        line-height: 43px;
        text-align: center;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
    }

    /* --- Lista de música --- */
    .music-list {
        position: absolute;
        background: var(--white);
        width: 100%;
        left: 0;
        bottom: -55%;
        opacity: 0;
        pointer-events: none;
        z-index: 5;
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.15s ease-out;
    }

    .music-list.show {
        bottom: 0;
        opacity: 1;
        pointer-events: auto;
    }

    .header .row {
        display: flex;
        align-items: center;
        font-size: 21px;
        color: var(--lightblack);
    }

    .header .row i {
        font-size: 30px;
        cursor: default;
    }

    .header .row span {
        margin-left: 5px;
    }

    .header #close {
        font-size: 30px;
        color: var(--lightblack);
    }

    .music-list ul {
        margin: 10px 0;
        max-height: 260px;
        overflow: auto;
    }

    .music-list ul::-webkit-scrollbar {
        width: 0px;
    }

    .music-list ul li {
        list-style: none;
        display: flex;
        cursor: pointer;
        padding-bottom: 10px;
        margin-bottom: 5px;
        color: var(--lightblack);
        border-bottom: 1px solid #E5E5E5;
    }

    .music-list ul li:last-child {
        border-bottom: 0px;
    }

    .music-list ul li .row span {
        font-size: 20px;
    }

    .music-list ul li .row p {
        opacity: 0.9;
    }

    ul li .audio-duration {
        font-size: 18px;
    }

    ul li.playing {
        pointer-events: none;
        color: var(--violet);
    }

    /* --- Dropzone, fondo del login y registro --- */
    .hidden-text {
        font-size: 40px;
        opacity: initial;
        color: #cecaca;
    }

    #dropZone {
        background-color: var(--violet);
        opacity: 0.8;
        border: none;
        pointer-events: all;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 100;
    }

    #dropZone {
        visibility: hidden;
    }

    .input-text {
        position: relative;
        margin-top: 35px;
        width: 100%;
        height: 50px;
    }

    .subir .input-text input{
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        padding: 0 30px;
        color: #333;
        font-size: 16px;
        transition: all 0.2s ease;
        border-bottom: 1.5px solid #aaaaaa;
    }

    .subir .input-text input:focus {        
        border-color: #7d2ae8;
    }

    #btnSubirMusica {
        background: #7d2ae8;
        margin-top: 29px;
        width: 100%;
        padding: 10px 0;
        border-radius: 10px;
        color: var(--darkwhite);
        font-size: 17px;
        font-weight: bold;
    }

    .file::file-selector-button {
        margin-right: 20px;
        border: none;
        background: var(--sidebar-color);
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }

    .file {
        padding: 10px 20px;
        background: var(--pinkshadow);
        border-radius: 10px;
    }

    .divFile {
        padding-top: 12px;
    }